<div class="formulaire-contact">

<%= simple_form_for @message  do |f| %>
  <%= f.input :email %>
  <%= f.input :nom %>
  <%= f.input :objet %>
  <%= f.input :titre %>
  <%= f.input :content %>
  <%= f.input :photo %>
  <%= f.submit "Envoyer", class: "btn btn-primary" %>

<% end %>

</div>



<div id="map"></div>
