
  <div class="banner" style="background-image:linear-gradient(-225deg, rgba(89, 92, 93, 0.30) 0%, rgba(40, 42, 44, 0.40) 50%), url('/assets/banner');">
    <div class="banner-content">
      <h1><strong>DMVA</strong><br> Travaux Publics</h1>
      <p class="hidden-xs">Située dans l'<strong>oise</strong>, DMVA est une entreprise de <strong>travaux publics</strong> spécialisée dans les travaux de <strong>voirie</strong>, d'<strong>assainissement</strong>, de <strong>terrassement</strong>, de <strong>réseaux secs</strong>, d'eau potable, de <strong>maçonnerie industrielle</strong> et de <strong>démolition</strong>.</p>
      <p class="hidden-lg hidden-md">Spécialiste dans les travaux de voirie, d'assainissement, de terrassement et de maçonnerie industrielle</p>
      <a href="/#actions" class="btn btn-primary btn-lg margin-top-btn">EN SAVOIR +</a>
    </div>
  </div>

<div class="container-home">

  <div id="actions">
    <div class="trois-actions">
    <div class="col-xs-12 col-sm-4 action">
      <div class="icon-position">
        <div class="position-left">
          <%= cl_image_tag 'hand-shake_1_vixpdh', :width=>50 %>
        </div>
        <div class="position-right">
          <h3>Rencontre client</h3>
        </div>
      </div>
      <div class="text-action">
        <div class="position-left">
        <h2>1</h2>
        </div>
        <div class="position-right">
          <p>Nous prenons contact avec vous par téléphone et fixons ensemble un premier rendez vous sur le lieux du futur chantier, l'occasion de discuter de votre projet et de réaliser la prise de mesure.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 action">
      <div class="icon-position">
        <div class="position-left">
          <%= cl_image_tag 'note_wvaruy', :height=>50 %>
        </div>
        <div class="position-right">
          <h3>Chiffrage du devis</h3>
        </div>
      </div>
      <div class="text-action">
        <div class="position-left">
          <h2>2</h2>
        </div>
        <div class="position-right">
          <p>La semaine suivant notre rencontre, notre équipe étudiera la meilleure solution possible pour la réalisation de votre projet. Par la suite nous vous ferons parvenir un devis détaillé de notre prestation, avec le montant des travaux.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 action">
      <div class="icon-position">
        <div class="position-left">
          <%= cl_image_tag 'helmet_1_ke3eks', :height=>50 %>
        </div>
        <div class="position-right">
          <h3>Réalisation des travaux</h3>
        </div>
      </div>
      <div class="text-action">
        <div class="position-left">
          <h2>3</h2>
        </div>
        <div class="position-right">
         <p>Suite à votre accord concernant les modalités du devis nous vous tenons informé de l'avancé des travaux grâce à un interlocuteur unique, qui reste à votre écoute, du commencement, à la livraison du chantier.</p>
        </div>
      </div>
    </div>
    </div>
    <div class="separation-actions"><hr></div>
  </div>



  <div id="services" class=" services-home">
    <h2>Nos Services</h2>
    <div class="service row inverse-flex">
      <img src="/assets/road-construction.jpg" alt="" class="col-xs-12 col-sm-6 picture-service">
      <div class="description-service col-xs-12 col-sm-6">
        <h4>Assainissement</h4>
        <span class="more">
          L'assainissement regroupe l'ensemble des techniques visant à traiter les eaux usées. Ce service des eaux englobe ainsi la pose de réseaux d'évacuation des eaux usées et des eaux de pluie. DMVA propose ainsi la pose de ces réseaux qu'ils soient collectifs ou non mais également la réparation de ces derniers.
          En matière d'eaux usées, DMVA peut ainsi prendre en charge la pose de poste de refoulement, de bacs dégraisseurs ou encore de micro-stations.

          En ce qui concerne les eaux pluviales, nous nous chargerons de la réalisation de vos puisards, de vos drainages, de  vos bassins et fossés ainsi que leurs curages.
        </span>
        <hr class="separation sep-right" />

      </div>
    </div>


    <div class="service row">
      <div class="description-service padding-left-des col-xs-12 col-sm-6">
        <hr class="separation sep-horizontal" />
        <h4>Voirie</h4>
        <span class="more">
          Notre service de voirie vous permettra de faire construire l'ensemble des voies de circulations que vous souhaitez. Qu'il s'agisse d'une autoroute, d'une route, d'une rue, d'un chemin ou même d'une entrée de parking, nous sommes prêt à la réaliser pour vous.

          Ainsi nous intervenons aussi bien sur voie publique et privée et maîtrisons de multiples techniques telles que l'enrochement, le pavage, le terrassement, l'enrobé à chaud ou encore le béton lavé.
        </span>
      </div>
      <img src="/assets/voirie.png" alt="" class="col-xs-12 col-sm-6 picture-service">
    </div>


    <div class="service row inverse-flex service-maconnerie">
      <img src="/assets/construction-worker-569149_1920.jpg" alt="" class="col-xs-12 col-sm-6 picture-service padding-right-img">
      <div class="description-service padding-right-des col-xs-12 col-sm-6">
        <hr class="separation sep-centrale" />
        <h4>Maçonnerie</h4>
        <span class="more">
        Notre service de maçonnerie vous permettra de bâtir l'ensemble des constructions que vous souhaitez ! Notre expertise en génie civil nous permet de maîtriser l'ensemble des techniques de constructions, aussi bien la pose de dalle en béton, la pose de parpaings (parpaing creux ou parpaing plein) ou encore la fabrication de murets de soutènements.
        </span>
      </div>
      <%= link_to realisations_path, class:"link-realisation hidden-xs" do %>
        <h3>Voir nos réalisations</h3>
        <img src="assets/right-arrow.png" alt="next-realisations" style="height: 40px">
      <% end %>
    </div>

  </div>


  <div class="brochure" style="background-image:linear-gradient(-225deg, rgba(89, 92, 93, 0.75) 95%, rgba(40, 42, 44, 0.75) 95%), url('/assets/Tracteur_profil');">
      <div class="brochure-text">
        <h3 class="hidden-xs"> Venez découvrir nos services, ainsi que nos réalisations dans notre brochure</h3>
        <a href="/assets/Bulldozer.mp4" target="_blank" class="btn btn-primary btn-lg">Télecharger <br>notre brochure</a>
      </div>
  </div>



  <div class="accomplit-home">
    <h2 class="margin-left-titre">Ce que nous avons accomplit</h2>

    <div class="row accomplit" style="margin-bottom: 6%;"  id="counter">
        <div class="desc-bloc-accompli col-md-10 col-xs-12">
          <p class="hidden-xs">Chaque jour nos équipes se mettent en mouvement, pour construire, développer et préserver notre environnement. Depuis plus de 15 ans, nous faisons en sorte que cette "machine" fonctionne, cela passe notamment par la rigueur, l'organisation mais aussi par la passion que nos employés et collaborateurs tentent de transmettre à nos clients, afin de proposer une offre unique d'ouvrage et de prestation que se soit des entreprises, des collectivités et des particuliers.</p>

          <!-- <h2 class="visible-xs size-titre">Ce que nous avons accomplit</h2> -->

          <div class="row chiffres-accomplit ">
            <div class="chiffre-accomplit col-xs-12 col-md-2">
              <div class="counter-value text-center" data-count="2000">0</div>
              <h4>Projets</h4>
            </div>
            <div class="chiffre-accomplit col-xs-12 col-md-2">
              <div class="counter-value text-center" data-count="250">0</div>
              <h4>Clients</h4>
            </div>
            <div class="chiffre-accomplit col-xs-12 col-md-2">
              <div class="counter-value text-center" data-count="15">0</div>
              <h4>Employés</h4>
            </div>
            <div class="chiffre-accomplit col-xs-12 col-md-2">
              <div class="counter-value text-center" data-count="7">0</div>
              <h4>Habilitations</h4>
            </div>
            <div class="chiffre-accomplit col-xs-12 col-md-2">
              <div class="counter-value text-center" data-count="15">0</div>
              <h4>Machines</h4>
            </div>
          </div>
        </div>
        <div class="card col-md-2 col-xs-12" style="background-image: linear-gradient(rgba(219, 135, 78, 0.76), rgba(219, 135, 78, 0.76)), url(<%= cl_image_path 'workers-535533_1920_conxuq' %>);">
          <div class="card-description">
            <h3 class="size-h3 counter-value" data-count="40">0</h3>
            <h5>Années d'expérience dans le secteur</h5>
          </div>
        </div>
    </div>

  </div>



  <div id="actualite" class="projets-home lequipe">
    <h2>Nos actualités</h2>

    <%= render 'shared/actualite-dynamique' %>


  </div>

  <div class="partenaire-home">

    <%= render 'shared/partenaire' %>


  </div>

  <div class="travaillons-ensemble marge-top-sanscarsouel">
    <p>Vous souhaitez faire appel à nous ?</p>
    <p><strong>Alors <%= link_to 'travaillons-ensemble', new_contact_path %></strong></p>
  </div>


</div>

